<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Network Peers</name>
    <description>
        Example implementation of https://github.com/arvindr21/cordova-android-arp-cache
    </description>
    <author email="arvind.ravulavaru@gmail.com" href="https://github.com/arvindr21">
        Arvind Ravulavaru
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <preference name="fullscreen" value="false" />
    <preference name="showtitle" value="false" />
</widget>
